@import "wrapper.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(255,162,0,1) 0%, rgba(255,0,194,0.5329482134650736) 49%, rgba(157,0,255,1) 100%);
}

input, select, button {
    border: 1px solid #aaa;
    border-radius: 15px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
}
