@import "mixins.scss";
@import "wrapper.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
}

input, select, button {
    border: 1px solid #aaa;
    border-radius: 15px;
    outline: none;
    padding: 5px 10px;
    font-size: 15px;
}
