.wrapper {
    margin: 30px auto 30px auto;
    padding: 10px;
    max-width: 90%;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);
    border-radius: 20px;
    color: white;
    background: #202020;

    &__container {
        display: flex;
        flex-direction: row;
    }
    &__table {
        width: 100%;
    }
    &__table-body {
        .wrapper__table-cell {
            padding-bottom: 16px;
        }
    }
    &__table-head {
        .wrapper__table-cell:not(:first-child) {
            cursor: pointer;
            width: 280px;
            &:hover {
                transition: 0.2s;
                transition-timing-function: ease-out;
                background-color: white;
                color: #202020;
            }
        }
    }
    &__table-cell {
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-radius: 20px;
        text-align: center;
        &_active {
            background-color: white;
            color: #202020;
        }
    }
    &__filter {
        margin-left: 20px;
        margin-right: 10px;
        max-width: 180px;
    }
    &__filter-select {
        margin-top: 5px;
        margin-bottom: 20px;
        width: 100%;
    }
    &__filter-label {
        margin-top: 25px;
        line-height: 25px;
    }
    &__pagination {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__pagination-prev {
        margin-right: 15px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: #ffa200;
        }
    }
    &__pagination-next {
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: #ffa200;
        }
    }
    &__pagination-current {
        cursor: default;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: rgb(239, 240, 243);
        }
    }
    &__pagination-container {
        display: flex;
        flex-direction: row;
    }
    &__pagination-size {
        padding: 0 5px;
        cursor: pointer;
        &_active {
            color: #9d00ff;
        }
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: #9d00ff;
        }
    }
}
