.wrapper {
    margin: 50px auto 0 auto;
    padding: 5px;
    max-width: 800px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);

    &__container {
        display: flex;
        flex-direction: row;
    }
    &__table {
        width: 100%;
    }
    &__table-head {
        background-color: aliceblue;
        box-shadow: 0 0 2px 1px rgba(239, 250, 255, 0.87);
    }
    &__table-cell {
        padding-bottom: 10px;
    }
    &__filter {
        max-width: 180px;
    }
    &__filter-select {
        width: 100%;
    }
    &__filter-label {
        margin-top: 25px;
        line-height: 25px;
    }
    &__pagination {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__pagination-prev {
        margin-right: 15px;
        &:hover {
            color: cornflowerblue;
            cursor: pointer;
        }
    }
    &__pagination-next {
        margin-left: 15px;
        &:hover {
            color: cornflowerblue;
            cursor: pointer;
        }
    }
    &__pagination-current {
        &:hover {
            color: cornflowerblue;
            cursor: default;
        }
    }
    &__pagination-container {
        display: flex;
        flex-direction: row;
    }
    &__pagination-size {
        padding: 0 5px;
        &:hover {
            color: cornflowerblue;
            cursor: pointer;
        }
    }
}
