.wrapper {
    margin: 50px auto 0 auto;
    padding: 5px;
    max-width: 800px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.5);

    &__container {
        display: flex;
        flex-direction: row;
    }
    &__table {
        width: 100%;
    }
    &__table-head {
        .wrapper__table-cell {
            cursor: pointer;
            &:hover {
                transition: 0.2s;
                transition-timing-function: ease-out;
                background-color: #98ddee;
            }
        }
    }
    &__table-cell {
        padding-top: 5px;
        padding-bottom: 10px;
        border-radius: 20px;
        text-align: center;
        &_active {
            background-color: #98ddee;
        }
    }
    &__filter {
        max-width: 180px;
    }
    &__filter-select {
        width: 100%;
    }
    &__filter-label {
        margin-top: 25px;
        line-height: 25px;
    }
    &__pagination {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__pagination-prev {
        margin-right: 15px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: cornflowerblue;
        }
    }
    &__pagination-next {
        margin-left: 15px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: cornflowerblue;
        }
    }
    &__pagination-current {
        cursor: default;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: rgb(239, 240, 243);
        }
    }
    &__pagination-container {
        display: flex;
        flex-direction: row;
    }
    &__pagination-size {
        padding: 0 5px;
        cursor: pointer;
        &:hover {
            transition: 0.2s;
            transition-timing-function: ease-out;
            color: cornflowerblue;
        }
    }
}
